<div class="main">
  <div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          formControlName="username"
        />
        <div
          *ngIf="
            loginForm.get('username')?.hasError('required') &&
            loginForm.get('username')?.touched
          "
          style="color: red; font-size: small"
        >
          Username is required.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
        />
        <div
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            loginForm.get('password')?.touched
          "
          style="color: red; font-size: small;"
        >
          Password is required.
        </div>
      </div>

      <button type="submit">Login</button>
    </form>

    <div class="link-container">
      <a routerLink="/signup">Signup</a>
      <a routerLink="/forgot-password">Forgot Password</a>
    </div>
  </div>
</div>
