.post {
    max-width: 29rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .post-media img {
    width: 100%;
    height: auto;
  }
  
  .post-actions {
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .likes-count {
    font-weight: bold;
  }
  
  .share-button {
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .desc {
    font-weight: 600;
    padding: 3px 20px 0px 20px;
    font-size: smaller;
  }

  .desc2 {
    padding: 3px 20px 0px 20px;
    font-size: smaller;
    margin-bottom: 1rem;
  }
