html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}


.signup-container {
    height: 35rem;
    width: 100%;
    max-width: 65vh;
    margin: 19px auto;
    padding: 20px;
    padding-top: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #333;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  label {
    display: block;
    /* font-weight: bold; */
  }
  
  input {
    width: 90%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .password-strength {
    margin-top: 20px;
  }
  
  .strength-bar {
    height: 10px;
    background-color: #007BFF;
    width: 0;
    border-radius: 5px;
    margin-top: 0.5rem;
  }
  